/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-7;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  /* remove background colour, make borders 1px thick, not 2pm
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
  border-top: 2px solid mix(#000, $border-color, 25%);
  border-left: 1px solid mix(#000, $border-color, 25%);
  border-right: 1px solid mix(#000, $border-color, 25%);
  */
  border-top: 1px solid mix(#000, $border-color, 25%);
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  border-left: 1px solid mix(#000, $border-color, 25%);
  border-right: 1px solid mix(#000, $border-color, 25%);
}

th {
  color: #203764; //new font colour 203764, medium dark blue
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-top: 1px solid mix(#000, $border-color, 25%);
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  border-left: 1px solid mix(#000, $border-color, 25%);
  border-right: 1px solid mix(#000, $border-color, 25%);  
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  border-left: 1px solid mix(#000, $border-color, 25%);
  border-right: 1px solid mix(#000, $border-color, 25%);
}

// new colour banding
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr,
td,
th {
  vertical-align: middle;
}
